<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Login</title>
  </head>
<style>
table {
    border-collapse: separate;
}

td {
    height: 50px;
    padding: 5px;    
}
body,html{
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-image: url('https://www.wallpaperflare.com/static/391/732/863/mental-health-wellness-psychology-mind-wallpaper.jpg');
}
</style>
<body>
{% if session.get('uid')!=None: %}
	
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('homepage')}}"><b>Home</b> <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('help')}}"><b>Help near you</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('test1')}}"><b>Take Test</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('blogs')}}"><b>Blogs</b></a>
	      		</li>
	      		<li class="nav-item active">
				<a class="nav-link" href="{{url_for('login')}}"><b>Login/Sign Up</b></a>
	      		</li>

	    	</ul>
	  	</div>
		</nav>
	</div>

{% else: %}
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item ">
				<a class="nav-link" href="{{url_for('homepage')}}"><b>Home</b> <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('login')}}"><b>Help near you</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('login')}}"><b>Take Test</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('blogs')}}"><b>Blogs</b></a>
	      		</li>
	      		<li class="nav-item active">
				<a class="nav-link" href="{{url_for('login')}}"><b>Login/Sign Up</b></a>
	      		</li>

	    	</ul>
	  	</div>
		</nav>
	</div>
{%endif %}
<!-- MENU SECTION END-->

     <!-- MENU SECTION END-->
     
  <div class="parallax2">
        <div class="overlay">
<div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <script type="text/javascript">
				function validateLogin()
				{
					//Email-id
					var a = document.getElementsByName('email')[0].value;
					if(a=='')
					{
						alert("Please enter Email ID");
						document.getElementsByName('email')[0].focus();
						return false;
					}
					else if( !(/^\w+\@\w+\.([A-Za-z]{2,4})$/.test(a)) )
					{
						alert("Please enter valid Email id");
						document.getElementsByName('email')[0].focus();
						return false;			
					}
				
					//password
					a = document.getElementsByName('user_password')[0].value;
					if(a=='')
					{
						alert("Please enter your password");
						document.getElementsByName('user_password')[0].focus();
						return false;
					}
					return true;
				}
			</script>
	
			
  <div class="container mt-5" >
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-top:15%;">
          <div class="card  my-5 " >
            <div class="card-body ">
              <h3 class="card-title mb-3 text-center font-weight-bold">
              <b> Login</b>
              </h3>
              <form  method="POST" onsubmit="return validateLogin();" >
              <hr class="my-4" />
                <div class="form-label-group input-group mt-5">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text bg-white rounded-right ml-auto "
                      style=" -webkit-border-radius: 10px; border-radius: 40px; behavior:url('border-radius.htc');">
                      <i class="fas fa-user"></i>
                      </span>
                  </div>
                  <input
                    type="email"
                    
                    name="email"
                    class="form-control  border-right-0 rounded-left"
                    style="border-radius: 40px;"
                    placeholder="Email address"
                    required
                    autofocus
                  />
                  <label for="inputEmail"></label>
                </div>

                <div class="form-label-group input-group">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text bg-white rounded-right ml-auto "
                      style=" -webkit-border-radius: 10px; border-radius: 40px; behavior:url('border-radius.htc');"
                    >
                    <i class="fas fa-unlock"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    id="pass"
                    name="pswd"
                    class="form-control  border-right-0 rounded-left"
                    style="border-radius: 40px;"
                    placeholder="Password"
                    required
                    autofocus
                  />
                  <label for="pass"></label>
                </div>
<!--                <div class="custom-control custom-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck1"
                  />
                </div> -->
                <br>
                <button
                  class="btn btn-lg btn-info btn-block text-uppercase "
                  type="submit"
                >
                  Login in
                </button>
                <hr class="my-4" />
                <a
                  class="btn btn-lg btn-warning btn-block  text-uppercase fab  mr-2"
                  href="{{url_for('forgetpswd')}}"
                  
                  >Forgot Password</a
                >
                <a
                  class="btn btn-lg btn-secondary   btn-block text-uppercase fab  mr-2"
                  href="{{url_for('signup')}}"
                  >Don't have an Account?</a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
  
               <hr />
                 </div>
            </div>
          </div>
     <!-- TAG HOME SECTION END-->
             </div>
    </div>
     <!-- PARALLAX LIKE SECTION END-->
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
