<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Test</title>
  </head>
  <body>
 
{% if session.get('uid')!=None and session.get('client')==True: %}
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item ">
				<a class="nav-link" href="{{url_for('homepage')}}"><b>Home</b> <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('help')}}"><b>Help near you</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('test1')}}"><b>Take Test</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('blogs')}}"><b>Blogs</b></a>
	      		</li>
	      		<li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		         <b>Profile</b>
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          		<a class="dropdown-item" href="{{url_for('editprofile')}}">Edit Profile</a>
          		<a class="dropdown-item" href="{{url_for('changepswd')}}">Change Password</a>
         		<a class="dropdown-item" href="{{url_for('messages')}}">Messages</a>
         		<a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
        		</div>
      			</li>
	    	</ul>
	  	</div>
		</nav>
	</div>
{% elif session.get('uid')!=None and session.get('therapist')==True: %}
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item ">
				<a class="nav-link" href="{{url_for('homepage')}}"><b>Home</b> <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('blogs')}}"><b>Blogs</b></a>
	      		</li>
	      		<li class="nav-item dropdown active">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		         <b>Profile</b>
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          		<a class="dropdown-item" href="{{url_for('changepswd')}}">Change Password</a>
         		<a class="dropdown-item" href="{{url_for('messages')}}">Messages</a>
         		<a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
        		</div>
      			</li>
	    	</ul>
	  	</div>
		</nav>
	</div>

{% else: %}
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item active">
				<a class="nav-link" href="{{url_for('homepage')}}"><b>Home</b> <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('login')}}"><b>Help near you</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('login')}}"><b>Take Test</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('blogs')}}"><b>Blogs</b></a>
	      		</li>
	      		<li class="nav-item">
				<a class="nav-link" href="{{url_for('login')}}"><b>Login/Sign Up</b></a>
	      		</li>

	    	</ul>
	  	</div>
		</nav>
	</div>
{%endif %}
     <!-- MENU SECTION END-->


 <div class="container-fluid"> 
    <div class="below-slideshow">
         <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="txt-block">

              
     <!-- TAG HOME SECTION END-->
    <div class="just-sec">
        <style>
        table {
			width : 80%;
			text-align : center;
			margin-left:10%; 
		    margin-right:15%;
		    border: 15px #5BC0E2;
		    border-spacing: 10px;
		}
		
		th, td{
			text-align : center;
			padding : 10px;
		}
		</style>
        <form method="POST" id="my">
		<h1>Inbox</h1>
		<table border = 15>
		
		<tr>
			<th>
				From
			</th>
			<th>
				Message
			</th>
			<th>
				Date
			</th>
			<th>
				Time
			</th>
		</tr>
	{%for i in range(j):%}
			<tr>
			<td>{%print(fname[i][0])%}</td>
			<td>{%print(rs[i][1])%}</td>
			<td>{%print(rs[i][2])%}</td> 
			<td>{%print(rs[i][3])%}</td>
			<td><a href="{{url_for('chat',to=fname[i][0])}}">reply</a></td>
			</tr>
	{%endfor%}
		</table>	
		</form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
